@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --leagueSpartan: 'League Spartan', 'sans-serif';

        /* Theme 1 (default) */
        /* Backgrounds */

        /* (main background) */
        --mainBackground: 222 26% 31%;
        /* (toggle background, keypad background) */
        --keypadBackground: 223 31% 20%;
        /* (screen background) */
        --screenBackground: 224 36% 15%;

        /* Keys */

        /* (key background) */
        --delResetBackground: 225 21% 49%;
        /* (key shadow) */
        --delResetBackgroundShadow: 224 28% 35%;
        /* (key background, toggle) */
        --equalBackground: 6 63% 50%;
        /* (key shadow) */
        --equalBackgroundShadow: 6 70% 34%;
        /* (key background) */
        --keyBackground: 30 25% 89%;
        /* (key shadow) */
        --keyBackgroundShadow: 28 16% 65%;

        /* Text */

        --keyText: 221 14% 31%;
        --delResetText: 0 0% 100%;
        --equalText: 0 0% 100%;
        /* title and input text */
        --default: 0 0% 100%;
    }

    /* Theme 2 */
    .theme-light {
        --mainBackground: 0 0% 90%;
        --keypadBackground: 0 5% 81%;
        --screenBackground: 0 0% 93%;

        /* Keys */
        --delResetBackground: 185 42% 37%;
        --delResetBackgroundShadow: 185 58% 25%;
        --equalBackground: 25 98% 40%;
        --equalBackgroundShadow: 25 99% 27%;
        --keyBackground: 45 7% 89%;
        --keyBackgroundShadow: 35 11% 61%;

        /* Text */
        --keyText: 60 10% 19%;
        --delResetText: 0 0% 100%;
        --equalText: 0 0% 100%;
        --default: 60 10% 19%;
    }

    /* Theme 3 */
    .theme-purple {
        --mainBackground: 268 75% 9%;
        --keypadBackground: 268 71% 12%;
        --screenBackground: 268 71% 12%;

        /* Keys */
        --delResetBackground: 281 89% 26%;
        --delResetBackgroundShadow: 285 91% 52%;
        --equalBackground: 176 100% 44%;
        --equalBackgroundShadow: 177 92% 70%;
        --keyBackground: 268 47% 21%;
        --keyBackgroundShadow: 290 70% 36%;

        /* Text */
        --keyText: 52 100% 62%;
        --delResetText: 0 0% 100%;
        --equalText: 198 20% 13%;
        --default: 52 100% 62%;
    }

    .keypad:hover {
        --delResetBackground: 225 21% 69%;
        --equalBackground: 6 63% 70%;
        --keyBackground: 30 25% 109%;
    }

    .theme-light .keypad:hover {
        --delResetBackground: 185 42% 57%;
        --equalBackground: 25 98% 60%;
        --keyBackground: 45 7% 109%;
    }

    .theme-purple .keypad:hover {
        --delResetBackground: 281 89% 46%;
        --equalBackground: 176 100% 64%;
        --keyBackground: 268 47% 41%;
    }

    body {
        font-family: var(--leagueSpartan);
        font-size: 32px;
    }
}
